.home-page {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 15%;
  background: url("../../external/bg_main.jpg") no-repeat;
  background-size: cover;

  .main{
    display: flex;
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
    background: rgba(0,0,0,0.9);
    color: white;

    .link-project:hover {
      cursor: pointer;
      color: slategray;
      transition: 0.3s;
    }

    .home-content {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      max-width: 700px;
      margin: 0 auto;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: black;
      }
    }
  }
}

@media (max-width: 800px) {
  .home-page {
    padding: 0 10%;
    .main {
      margin: 5em 0 3em 0;
      min-width: 350px;
      height: auto;
      //min-height: 550px;

      .home-content {
        //max-height: 45%;
      }
    }
  }
}
